
<% if(title == "About")  {%>
    <div class="container text-center home">
        <div class="img">
            <div class="img">
                 <img src="/public/Assets/images/WhatsApp Image 2023-10-01 at 3.38.16 PM.jpeg" alt="">
            </div>
         </div>
    <div class="home_text">
        <p>As a Full Stack Developer, I am Proficient using a variety of modern web Technologies both Client Side and Server Side.
            Client Side: HTML5, CSS3, and Javascript Framework like React.
            On the Server Side I have demostrated my expertise on NodeJs, RestAPI, EJS, Java and C#. My ability to seamlessly bridge the gap between two domains ensures that i can deliver
            Comprehensive and efficient solutions for any project.
        </p>
    </div>

    
    </div>
<% } %>