<% if(title == "Home") { %>
    <div class="container text-center home">

            <div class="home_text">
                <h4>Hello, my name is</h4>
                <h1>Ibrahim <span>Abdikadir</span></h1>
                <h3>I'am a Full-Stack Developer</h3>
            </div>
    
            <div class="img">
               <div class="img">
                    <img src="/public/Assets/images/WhatsApp Image 2023-10-01 at 3.38.16 PM.jpeg" alt="">
               </div>
            </div>
    </div>
    <% } %>