<nav style="background-color:black;">
    <div class="logo">
           <a href="/home" style="text-decoration: none;">
            <h1>IBRA<span>HIM</span></h1>
           </a>
    </div>
    <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>