
<% if(title == "Projects") { %>
    <div class="container text-center home" style="margin-top: 120px;">

        <div class="box">
            <h2>Hello-Chef Clone</h2>
           <a href="https://my-hello-chef.netlify.app/">
            <img src="/public/Assets/images/hello-Chef.png" alt="" height="300px" width="300px">
           </a>
        </div>

        <div class="box">
            <h2>Twitter-Clone</h2>
            <a href="https://xclone14.netlify.app/">
                <img src="/public/Assets/images/Twitter-Web-Light2.webp" alt="" height="300px" width="300px">
            </a>
        </div>

        <div class="box">
            <h2>Jumia Project</h2>
            <a href="https://jumiaclone13.netlify.app">
                <img src="/public/Assets/images/Jumia.png" alt="" height="300px" width="300px">
            </a>
        </div>


    </div>
<%}%>